<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="header">

        <ion-col >
          <ion-title size="large">Hi, <span>Lalo</span></ion-title>
        </ion-col>

        <ion-col size="1">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header> 

<!-- Content -->
<ion-content [fullscreen]="true">
  <ion-grid>

    <!-- Clima Widgets -->
    <ion-row>

      <!-- Main Weather -->
      <ion-col size="7">
        <ion-card class="main-card">
          <ion-card-content>
            <ion-icon name={{weatherIcon}}></ion-icon>
          </ion-card-content>
          <ion-card-header>
            <ion-card-subtitle>{{weekday}} {{day}}, {{year}}</ion-card-subtitle>
            <ion-card-title>Prec: {{precProb}}%</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <!-- Weather Conditions -->
      <ion-col>
        <ion-row>
          <ion-card class="weather-card">
            <ion-label>{{temperatura}}°C</ion-label>
            <ion-card-subtitle>Temperature</ion-card-subtitle>
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-card class="weather-card">
            <ion-label>{{sensacion}}°C</ion-label>
            <ion-card-subtitle>Heat Index</ion-card-subtitle>
          </ion-card>
        </ion-row>

        <ion-row>
          <ion-card class="weather-card">
            <ion-label>{{humedad}}%</ion-label>
            <ion-card-subtitle>Humidity</ion-card-subtitle>
          </ion-card>
        </ion-row>
      </ion-col>

    </ion-row>

    <!-- Label -->
    <ion-row>
      <ion-label class="label">Room</ion-label>
    </ion-row>

    <!-- Control Buttons -->

    <ion-row>
      <!-- Armed -->
      <ion-col>
        <ion-card class="icon-card ion-activatable ripple-parent" color="{{armedColor}}" (click)="onArmed()">
          <ion-card-content class="icon-card">
            <ion-icon name={{armedIcon}}></ion-icon>
          </ion-card-content>
          <ion-card-header> 
            <ion-card-subtitle>{{armedText}}</ion-card-subtitle>
          </ion-card-header>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
      <!-- Door -->
      <ion-col>
        <ion-card class="icon-card ion-activatable ripple-parent" color={{doorColor}} (click)="onDoor()">
          <ion-card-content class="icon-card">
            <ion-icon name="key-outline"></ion-icon>
          </ion-card-content>
          <ion-card-header> 
            <ion-card-subtitle>{{doorText}}</ion-card-subtitle>
          </ion-card-header>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Light -->
      <ion-col>
        <ion-card class="icon-card ion-activatable ripple-parent" color="{{lightColor}}" (click)="onLight()">
          <ion-card-content class="icon-card">
            <ion-icon name="bulb-outline"></ion-icon>
          </ion-card-content>
          <ion-card-header> 
            <ion-card-subtitle>Light</ion-card-subtitle>
          </ion-card-header>
          <ion-ripple-effect></ion-ripple-effect>
          <ion-range *ngIf="light" min="0" max="255" value="{{lightIntensity}}" step="1" (ionChange)="onLightChange($event)">
            <ion-icon size="small" slot="start" name="sunny"></ion-icon>
            <ion-icon slot="end" name="sunny"></ion-icon>
          </ion-range>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Fan -->
      <ion-col>
        <ion-card class="icon-card ion-activatable ripple-parent" color={{fanColor}} (click)="onFan()">
          <ion-card-content class="icon-card">
            <ion-icon name="snow-outline"></ion-icon>
          </ion-card-content>
          <ion-card-header> 
            <ion-card-subtitle>Fan</ion-card-subtitle>
          </ion-card-header>
          <ion-ripple-effect></ion-ripple-effect>
          <ion-range *ngIf="fan" min="0" max="255" step="30" value="{{fanSpeed}}" snaps color="tertiary" (ionChange)="onFanChange($event)">
            <ion-icon slot="start" size="small" name="thermometer"></ion-icon>
            <ion-icon slot="end" name="thermometer"></ion-icon>
          </ion-range>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Window -->
      <ion-col size="6">
        <ion-card class="icon-card ion-activatable ripple-parent" color={{windowColor}} (click)="onWindow()">
          <ion-card-content class="icon-card">
            <ion-icon name="image-outline"></ion-icon>
          </ion-card-content>
          <ion-card-header> 
            <ion-card-subtitle>{{windowText}}</ion-card-subtitle>
          </ion-card-header>
          <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
