<!-- Header -->
<ion-header collapse="condense">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="header">

        <ion-col >
          <ion-title size="large">Hi, <span>Lalo</span></ion-title>
        </ion-col>

        <ion-col size="1">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">
  <ion-list-header>Dashboard</ion-list-header>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Registered weather</ion-card-subtitle>
      <ion-card-title>Today</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart height="250"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-list-header>More</ion-list-header>
  <ion-grid>
    <ion-row>
      <ion-card class="dash-card">
        <ion-card-header>
          <ion-card-title>3</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Alarms this week
        </ion-card-content>
      </ion-card>
    </ion-row>
  </ion-grid>
  
</ion-content>
